@use '../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use 'variable';

.cycle-blocks-page-list {
	&.layout-card {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 1.2rem;

		width: 100%;
		max-width: variable.$default-layout-width;
		margin: 0 auto variable.$default-stack;

		article {
			min-width: 0;
			border: 1px solid variable.$default-border-color;
			padding-left: 0;
			padding-right: 0;

			> .article-inner {
				margin-top: unset;
				padding: .6em;
			}
		}

		.post-thumbnail img {
			width: 100%;
		}
		.entry-title {
			font-size: 140%;
		}
	}
}

.main-container {
	.cycle-blocks-page-list {
		&.layout-card {
			.article-inner {
				margin-top: unset;
			}
		}
	}
}

@media screen and (min-width: #{map-get(variable.$default-breakpoints, xs ) + 1px} ) {
	.cycle-blocks-page-list {
		&.layout-card {
			grid-template-columns: 1fr 1fr 1fr;
			grid-auto-rows: 1fr 1fr 1fr;
		}
	}
}

.cycle-blocks-page-list {
	&.layout-topics {
		article.page {
			@include flexbox-grid-mixins.grid($flex-direction: column);
		}
		.post-thumbnail {
			@include flexbox-grid-mixins.grid-col($flex-basis: 160px, $align-self: center);
		}
		.article-inner {
			@include flexbox-grid-mixins.grid-col($col: auto);
		}
	}
}

@media screen and (min-width: #{map-get(variable.$default-breakpoints, xs ) + 1px} ) {
	.cycle-blocks-page-list {
		&.layout-topics {
			article.page {
				@include flexbox-grid-mixins.grid($flex-direction: row, $flex-wrap: nowrap, $justify-content: space-between, $align-items: flex-start);
			}
			.post-thumbnail {
				@include flexbox-grid-mixins.grid-col($flex-basis: 160px, $flex-shrink: 0, $flex-grow: 0, $align-self: unset);
			}
			.article-inner {
				@include flexbox-grid-mixins.grid-col($col: auto, $flex-shrink: 1, $flex-grow: 1);
				margin-top: 0;
			}
			article .post-thumbnail + .article-inner {
				margin-top: 0;
			}
			.wp-post-image {
				width: unset;
			}
		}
	}
}

.cycle-blocks-page-list {
	&.layout-article {
		article + article.page {
			margin-top: 2rem;
		}
	}
}
